$blue: #213f7d;
$cyan: #39cdcc;
$gray: #545f7d;
$gray06: #545f7d0f;
$gray10: #545f7d1A;
$gray15: #545f7d26;
$yellow: #e9b200;
$yellow10: #e9b2001a;
$red: #e4033b;
$red10: #e4033b1a;
$green: #39cd62;
$green06: #39cd620f;
