$cyan: #39cdcc;
$gray15: #545f7d26;
$blue: #213F7D;

$avenir-next: "Avenir Next";
$work-sans: "Work Sans";

%link-style {
    padding: 0;
    border: none;
    outline: none;

    width: fit-content;
    box-sizing: border-box;
    
    background: transparent;
    text-align: left;
    cursor: pointer;
}

%normal-link-style {
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.39px;
    letter-spacing: 0.1em;

    color: $cyan;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        opacity: 0.8;
    }
}

.link-broken-container {
    @extend %link-style;
    @extend %normal-link-style;

    border-radius: 0 8px 8px 0;
    border: solid $gray15;
    border-width: 2px 2px 2px 0;

    padding: 0 20px;

    height: 48px;
}

.link-normal-container {
    @extend %link-style;
    @extend %normal-link-style;
}

.link-base-container {
    @extend %link-style;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;

    text-decoration: underline;
    color: $blue;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.link-name-container {
    @extend %link-style;

    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    text-align: left;

    color: $blue;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        opacity: 0.8;
    }
}   